.socilIcon{
    display: inline-block;
    margin: 0px 5px;
    padding: 10px;
    border-radius: 50%;
    background: #53a2d5;
    height: 20px;
    width: 20px;
    line-height: 20px;
    color: white
}
.socialIconBox{
    margin-top: 20px;
}