.homeMainImageContainer{
    display:flex;
    justify-content: space-between;
}
.left-part{
    width: 70%;
}
.right-part{
    width: 27%;
}
.homePostContainer{
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;
}